	<div class = "topnav">
		<ul class = "navmenu">
			<li class = "navitem"><div class="inactive"><a href="/analyticstrend">Analytics</a></div></li>
			<li class = "navitem"><div class="inactive"><a href="/manageusers">Manage Users</a></div></li>
			<li class = "navitem"><a class = "active">Edit Profile</a></li>
			<li class = "navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
		</ul>
	</div>
	<div class="arrow-down" style="margin-left:530px;"></div>
	<div class="menu">
		<div class="menutitle">Name & Email</div>
		<hr>
		<form id="editprofile" action="./editprofile" method="post">
			<input class="input" type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" required="required">
			<input class="input" type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required="required">
			<br>
			<input id="myEmail" class="input" type="text" name="email" placeholder="Email Address" value="{{user.email}}" readonly>
			<div class="menutitle">Password</div>
			<hr>
			<input id="password" class="input" type="password" name="password" placeholder="Enter New Password">
			<br>
			<input id="password_confirm" class="input" type="password" name="password_confirm" placeholder="Confirm New Password" oninput="check(this)">
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password Must be Matching.');
                        } else {
                        // input is valid -- reset the error message
                        input.setCustomValidity('');
                        }
                    }
                </script>
            <br>
			<input type="submit" value="Save Changes" style="cursor:pointer;">
            <a href="/editprofile"><button class="cancel" type="button">Cancel</button></a>
		</form>
	</div>	