<div class="topnav">
    <ul class="navmenu">
        <li class="navitem"><div class="inactive"><a href="/manageusers/analyticstrend">Analytics</a></div></li>
        <li class="navitem"><a href="/manageusers" class="inactive">Manage Users</a></li>
        <li class="navitem"><div class="active"><a href="/manageusers/adduser">Add Users</a></div></li>
        <li class="navitem"><div class="inactive"><a href="/manageusers/editprofile">Edit Profile</a></div></li>
        <li class = "navitem"><div class="inactive"><a href="/logout">Logout</a></div></li>
        <li class="navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
    </ul>
</div>
<div class="subnav">
    <ul class="submenu">
        <li class="subitem"></li>
        <li class="subitem"><a class="active">Add User</a></li>
        <li class="subitem"></li>
    </ul>
</div>
<div class="arrow-down" style="margin-left:80px; border-top: 20px solid #7F7F7F;"></div>
<div class="menu">
    <div class="menutitle">Name & Email</div>
    <hr>
    <form id="addprofile" action="./adduser" method="post">
        <input class="input" type="text" name="first_name" placeholder="First Name" required="required">
        <input class="input" type="text" name="last_name" placeholder="Last Name" required="required">
        <br>
        <input id="myEmail" class="input" type="text" name="email" placeholder="Email Address" required>
        <br>
        Site Administrator Flag <input class="input" type="checkbox" name="admin_flag" placeholder="Admin" checked=this.admin_flag required="required">
        <hr>
        <div class="menutitle">Password</div>
        <input id="password" class="input" type="password" name="password" placeholder="Create New Password" required>
        <br>
        <input id="password_confirm" class="input" type="password" name="password_confirm" placeholder="Confirm New Password" required>
        <br>
        <input type="submit" value="Save Changes" style="cursor:pointer;" onclick="check()">
            <script language='javascript' type='text/javascript'>
                function check() {
                    if (document.getElementById('password').value != document.getElementById('password_confirm').value) {
                        document.getElementById('password').setCustomValidity('Password Must be Matching.');
                    } else {
                        // input is valid -- reset the error message
                        document.getElementById('password').setCustomValidity('');
                    }
                }
            </script>
        <!--<input type="hidden" name="id" value="{{user.user_id}}">-->
        <!--<input type="submit" value="Save Changes" style="cursor:pointer;">-->
        <a href="/manageusers"><button class="cancel" type="button">Cancel</button></a>
    </form>
</div>	
