<div class="topnav">
    <ul class="navmenu">
        <li class="navitem"><a class="active">Analytics</a></li>
        <li class="navitem"><div class="inactive"><a href="/manageusers">Manage Users</a></div></li>
        <li class="navitem"><div class="inactive"><a href="/manageusers/editprofile">Edit Profile</a></div></li>
        <li class="navitem"><div class="inactive"><a href="/logout">Logout</a></div></li>
        <li class="navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
    </ul>
</div>
<div class="subnav">
    <ul class="submenu">
        <li class="subitem"><div class="subinactive"><a href="/manageusers/analyticstrend">Award Trend</a></div></li>
        <li class="subitem"><a class="active">Most Awarded</a></li>
        <li class="subitem"><div class="subinactive"><a href="/manageusers/analyticsfeedback">Feedback Analysis</a></div></li>
    </ul>
</div>
<div class="arrow-down" style="margin-left:80px; border-top: 20px solid #7F7F7F;"></div>
<div class="menu" id="usermenu">
    <div class="menutitle">[ANALYTICS TITLE]</div>
    <hr>
    <div>
    <div style="padding-left: 15px; padding-right: 15px;">
        <canvas id="myChart"></canvas>
        <script>
            var myx = new XMLHttpRequest();
            var types = [];
            var awards = [];
            myx.open("GET", "/manageusers/mostdata", true);
            myx.onload = function () {
                if (myx.readyState === myx.DONE) {
                    if (myx.status === 200) {
                        var myData = myx.response;

                        for (var i = 0; i < myData.length; i++) {
                            types.push(myData[i]['award_name']);
                            awards.push(myData[i]['award_count']);
                        }

                        let myChart = document.getElementById('myChart').getContext('2d');
                        let massPopChart = new Chart(myChart, {
                            type: 'bar',
                            data: {
                                labels: types,
                                datasets: [{
                                    label: 'Awards Given',
                                    data: awards
                                }]
                            },
                            options: {}
                        });
                    }
                }
            };
            myx.responseType = 'json';
            myx.send();

            console.log("Hi Mom");
        </script>
    </div>
</div>