<div class="topnav">
    <ul class="navmenu">
        <li class="navitem"><a class="active">Analytics</a></li>
        <li class="navitem"><div class="inactive"><a href="/manageusers">Manage Users</a></div></li>
        <li class="navitem"><div class="inactive"><a href="/manageusers/editprofile">Edit Profile</a></div></li>
        <li class="navitem"><div class="inactive"><a href="/logout">Logout</a></div></li>
        <li class="navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
    </ul>
</div>
<div class="subnav">
    <ul class="submenu">
        <li class="subitem"><a class="active">Award Trend</a></li>
        <li class="subitem"><div class="subinactive"><a href="/manageusers/analyticsmost">Most Awarded</a></div></li>
        <li class="subitem"><div class="subinactive"><a href="/manageusers/analyticsfeedback">Feedback Analysis</a></div></li>
    </ul>
</div>
<div class="arrow-down" style="margin-left:80px; border-top: 20px solid #7F7F7F;"></div>
<div class="menu" id="usermenu">
    <div class="menutitle">[ANALYTICS TITLE]</div>
    <hr>
    
</div>