	<div class = "topnav">
		<ul class = "navmenu">
			<li class = "navitem"><div class="inactive"><a href="/manageusers/analyticstrend">Analytics</a></div></li>
			<li class = "navitem"><div class="inactive"><a href="/manageusers">Manage Users</a></div></li>
            <li class="navitem"><div class="inactive"><a href="/manageusers/adduser">Add Users</a></div></li>
			<li class = "navitem"><a class = "active">Edit Profile</a></li>
			<li class = "navitem"><div class="inactive"><a href="/logout">Logout</a></div></li>
			<li class = "navitem" id="logo"><img src="/static/images/KudosLogo.png" width="" height="50px"></li>
		</ul>
	</div>
	<div class="arrow-down" style="margin-left:740px;"></div>
	<div class="menu">
		<div class="menutitle">Name & Email</div>
		<hr>
        <form id="editprofile" action="./editprofile" method="post">
            <input class="input" type="text" name="first_name" placeholder="First Name" value="{{user.first_name}}" required="required">
            <input class="input" type="text" name="last_name" placeholder="Last Name" value="{{user.last_name}}" required="required">
            <br>
            <input id="myEmail" class="input" type="text" name="email" placeholder="Email Address" value="{{user.email}}" readonly>
	        <label class='menutitle'>Site Administrator</label> <input class="input" type="checkbox" name="admin_flag" placeholder="Admin" checked=this.admin_flag required="required">
            <hr>
            <div class="menutitle">Password</div>
            <hr>
            <input id="password" class="input" type="password" name="password" placeholder="Enter New Password">
            <br>
            <input id="password_confirm" class="input" type="password" name="password_confirm" placeholder="Confirm New Password">
            <br>
            <input type="submit" value="Save Changes" style="cursor:pointer;" onclick="check()">
                <script language='javascript' type='text/javascript'>
                    function check() {
                        if (document.getElementById('password').value != document.getElementById('password_confirm').value) {
                            document.getElementById('password').setCustomValidity('Password Must be Matching.');
                        } else {
                            // input is valid -- reset the error message
                            document.getElementById('password').setCustomValidity('');
                        }
                    }
                </script>
            <a href="/manageusers"><button class="cancel" type="button">Cancel</button></a>
        </form>
	</div>	
